<fieldset id= "register">
  <legend>Registration</legend>

  <form #regForm='ngForm'(submit)="create(user)">
    <p class="text">First Name: <input 
      type="text" 
      name="first_name" 
      required 
      minlength="4" 
      maxlength="24"
      [(ngModel)]="user.first_name"
      #first_name='ngModel'
    /><br><span *ngIf ="first_name.errors">First Name is Required</span>
  <div *ngIf='err'>
      <span *ngIf ="err.errors.first_name">{{err.errors.first_name.message}}</span>

  </div>
  

        <p class="text">Last Name: <input 
          type="text" 
          name="last_name" 
          required 
          minlength="4" 
          maxlength="24"
          [(ngModel)]="user.last_name"
          #last_name='ngModel'
        /><br><span *ngIf ="last_name.errors">Last Name is Required</span>
        <div *ngIf='err'>
            <span *ngIf ="err.errors.last_name">{{err.errors.last_name.message}}</span>
      
        </div>
      

        <p class="text">Email: <input 
          type="text" 
          name="email" 
          required 
          minlength="4" 
          maxlength="24"
          [(ngModel)]="user.email"
          #email='ngModel'
        /><br><span *ngIf ="email.errors">Email  is Required</span>
        <div *ngIf='err'>
            <span *ngIf ="err.errors.email">{{err.errors.email.message}}</span>
      
        </div>
      

        <p class="text">Password: <input 
          type="password" 
          name="password" 
          required 
          minlength="8" 
          maxlength="15"
          pattern="^([a-zA-Z0-9@*#]{8,15})$"
          [(ngModel)]="user.password"
          #password='ngModel'
        /><br><span *ngIf ="password.errors">Password is Required</span>
        <div *ngIf='err'>
            <span *ngIf ="err.errors.password">{{err.errors.password.message}}</span>
      
        </div>
      

        <p class="text">Confirm Password: <input 
          type="password" 
          name="password_confirm" 
          required 
          [(ngModel)]="user.password_confirm"
          #password_confirm='ngModel'
          /><br><span *ngIf ="user.password != user.password_confirm">Passwords must match</span>
          <div *ngIf='err'>
              <span *ngIf ="err.errors.password_confirm">{{err.errors.password_confirm.message}}</span>
        
          </div>
        

      <p class="text">Birthdate: 
        <input 
        type="date" 
        name="birthdate"
        required 
        [(ngModel)]="user.birthdate"
        #birthdate='ngModel'></p>
        <div *ngIf='err'>
            <span *ngIf ="err.errors.birthdate">{{err.errors.birthdate.message}}</span>
      
        </div>
        
        
        <hr>

        <input [disabled]="regForm.invalid" class="button" type="submit" value="Register">

  </form>
</fieldset>

<fieldset id="login">
  <legend>Login</legend>

  <form #loginForm='ngForm'(submit)="login(logins)">
      <p class="text">Email: <input 
        type="text" 
        name="user.email"
        required
        minlength="1"
        [(ngModel)]="logins.email"
        #emails='ngModel'
        ></p>

      <p class="text">Password <input 
        type="password" 
        name="user.password"
        required
        minlength="1"
        [(ngModel)]="logins.password"
        #passwords='ngModel'
        ></p><hr>
        <div *ngIf='loginerrs == true'>
            <span class="text">Wrong Login Info</span>
      
        </div>

      <input [disabled]="loginForm.invalid" type="submit" value="Login" class="button">
  </form>
      
</fieldset>





